{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    <h1 class="my-4">{% translate 'Labels' %}</h1>
    <form action="{% url 'create_labels' %}" method="post" class="form">
        {% csrf_token %}

        {% translate 'Create label' as button_name %}
        {% bootstrap_button button_type="submit" button_class="btn btn-secondary" content=button_name %}
    </form>
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Date of creation' %}</th>
            <th></th>
        </tr>
        </thead>
        {% for label in object_list %}
        <tbody>
        <tr>
            <td>{{ label.id }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.created_at|date:'d.m.Y H:i' }}</td>
            <td>
                <a class="text-body-emphasis fw-bold" href="{% url 'update_labels' pk=label.pk %}">{% translate 'Edit' %}</a>
                <br>
                <a class="text-body-emphasis fw-bold" href="#">{% translate 'Delete' %}</a>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock content %}
