{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% translate 'Users' %}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Username' %}</th>
            <th>{% translate 'Fullname' %}</th>
            <th>{% translate 'Date of creation' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
