{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <div class="mt-4">
        {% bootstrap_messages %}
    </div>
    <h1 class="my-4">{% translate 'Users' %}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% translate 'Username' %}</th>
            <th>{% translate 'Fullname' %}</th>
            <th>{% translate 'Date of creation' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a class="text-body-emphasis fw-bold" href="{% url 'update_users' pk=user.pk %}">{% translate 'Edit' %}</a>
                <br>
                <a class="text-body-emphasis fw-bold" href="{% url 'delete_users' pk=user.pk %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
